*{
  padding: 0;
  margin: 0;
}
body{
  color: hsl(234, 29%, 20%);
  font-family: "Roboto";
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  max-width: 768px;
}
article{
  width: 340px;
  padding-top: 20px;
}
h1{
  font-size: 40px;
}
p, ul{
  font-size: 16px;
  color: hsl(235, 18%, 30%);
  padding-top: 20px;
  padding-bottom: 30px;
}
ul{
  list-style-type: none;
}
ul li{
  padding-left: 2rem;
  padding-bottom: 10px;
  background-image: url(./assets/images/icon-list.svg);
  background-position: 0 0;
  line-height: 1.5rem;
  background-repeat: no-repeat;
}

.form-control{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
}
.form-control label{
  margin-left: 20px;
  padding-bottom: 10px;
  font-size: 14px;
}
.form-control input{
  margin-left: 24px;
  width: 18rem;
  padding: 17px;
  border: solid .5px;
  border-radius: 7px;
  border-color: #0000007e;
}
input::placeholder{
  font-size: 17px;
  color: #00000065;
}
button{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 17px;
  width: 20rem;
  background-color: hsl(235, 18%, 26%);
  border: none;
  border-radius: 7px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}